$dark-900:   #121212;
$dark-800:   #31352B;
$dark-500:   #505050;
$green-1000: #4D810C;
$green-900:  #63A60E;
$green-200:  #E0EDCF;
$green-100:  #EFF6E7;
$white:      #fff;
$black:      #000;
$red-900:    #CF3E3B;
$orange-900: #FF7A00;
$orange-800: #FFA657;
$yellow-900: #FFB800;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6;
$silver-50:  #F5F5F5;
$silver:     #EBEBEB;
$blue:       #1F6FEB;


%bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

$xxx: 1310;

$xl: 1200;

$lg: 992;

$md: 768;

$sm: 576;

$m: 360;



